<div class="center hero-unit">
  <h1>Bookends</h1>
  <p>The Home page for Bookends, get lending!</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
